#activity {
    background-image: url("../images/paporotniki_first_screen.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#reg_box {
    background: rgba(32, 75, 73, 0.8);
    min-width: 380px;
    min-height: 800px;
    border-radius: 8px;
}
    #logo_box {
        background: whitesmoke;
        min-width: 300px;
        min-height: 160px;
        margin: 174px 40px 10px;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #chat_logo {
        background-image:url("../images/Chat_name.png");
        margin: -10px 20px 40px;
        margin-left: 35px;
    }

/*<<<<<<< ashp
    #logo_box {
        background: whitesmoke;
        min-width: 300px;
        min-height: 160px;
        margin: 174px 40px 10px;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #chat_logo {
        background-image:url("../images/Chat_name.png");
        margin: -10px 20px 40px;
        margin-left: 35px;
    }

    #login_label{
        font-family: PTSansPro-Demi;
        font-size: 18px;
        color: whitesmoke;
        margin-top: 45px;
        margin-right: 280px;
    }
    #login {
=======*/
    #login_label{
        font-family: PTSansPro-Demi;
        font-size: 18px;
        color: whitesmoke;
        margin-top: 45px;
        margin-right: 280px;
    }
    #login {
        margin: 10px 40px;
        min-width: 300px;
        min-height: 40px;
        font-family: PTSansPro-Demi;
        background: whitesmoke;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 18px;
    }

    #password_label {
        font-family: PTSansPro-Demi;
        font-size: 18px;
        color: whitesmoke;
        margin-top: 4px;
        margin-right: 245px;
    }
    #password {
        margin: 10px 40px;
        min-width: 300px;
        min-height: 40px;
        font-family: PTSansPro-Demi;
        background: whitesmoke;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
/*<<<<<<< ashp
    }

    #password_label {
        font-family: PTSansPro-Demi;
        font-size: 18px;
        color: whitesmoke;
        margin-top: 4px;
        margin-right: 245px;
    }
    #password {
        margin: 10px 40px;
        min-width: 300px;
        min-height: 40px;
        font-family: PTSansPro-Demi;
        background: whitesmoke;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    #repeat_password_label {
        font-family: PTSansPro-Demi;
        font-size: 18px;
        color: whitesmoke;
        margin-top: 4px;
        margin-right: 180px;
    }
    #repeat_password {
        margin: 10px 40px;
        min-width: 300px;
        min-height: 40px;
        font-family: PTSansPro-Demi;
        background: whitesmoke;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    #signup_button{
        margin: 17px 40px;
        margin-top: 35px;
        background: linear-gradient(66.23deg, #683487 28.19%, #433FEE 111.52%);
        border-radius: 5px;
        min-width: 300px;
        min-height: 40px;
        font-family: PTSansPro-Demi;
        font-size: 18px;
        letter-spacing: initial;
        color: whitesmoke;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
=======*/
        font-size: 18px;
    }

    #repeat_password_label {
        font-family: PTSansPro-Demi;
        font-size: 18px;
        color: whitesmoke;
        margin-top: 4px;
        margin-right: 180px;
    }
    #repeat_password {
        margin: 10px 40px;
        min-width: 300px;
        min-height: 40px;
        font-family: PTSansPro-Demi;
        background: whitesmoke;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 18px;
    }

    #signup_button{
        margin: 17px 40px;
        margin-top: 35px;
        background: linear-gradient(66.23deg, #683487 28.19%, #433FEE 111.52%);
        border-radius: 5px;
        min-width: 300px;
        min-height: 40px;
        font-family: PTSansPro-Demi;
        font-size: 18px;
        letter-spacing: initial;
        color: whitesmoke;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    #account_exists_label {
        color: whitesmoke;
    }
    #account_exists_clickable:hover > #account_exists_label{
        text-decoration: underline;
    }
