#activity {
    background: #E5E5E5;
}

#chat_bar {
    padding: 10px 10px 10px 10px;
    background: rgba(119, 205, 242, 0.5);
    border-radius: 13.5px;
    min-width: 280px;
    min-height: 300px;
}
#chat_small_box {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    border-radius: 13.5px;
    min-width: 100px;
    min-height: 60px;
}
#chat_photo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-image: url("../images/start.png");
    background-size: 180%;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#chat_name {
    font-family: PTSansPro-Demi;
    margin-bottom: 30px;
    margin-left: -5px;
    font-size: 16px;
    font-weight: bolder;
    color: tomato;
}
#chat_button:hover > #chat_small_box {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    margin-left: 10px;
    margin-right: 10px;
}

#up_box {
    background: rgba(119, 205, 242, 0.42);
    border-radius: 13.5px;
}
#settings_button {
    background-image: url("../images/settings_button.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#left_box {
    background: rgba(119, 205, 242, 0.42);
    border-radius: 13.5px;
}
#user_photo {
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 5px;
    background: rgba(0, 0, 0, 0.42);
    border-radius: 100%;
}
#hidden {
    opacity: 0;
}

#left_mid_box {
    margin-left: 440px;
    margin-right: 440px;
    background: rgba(119, 205, 242, 0.42);
    font-family: PTSansPro-Demi;
    font-size: 16px;
    color: #FBFDFF;
    border-radius: 13.5px;  
}
#exit_button {
    background-image: url("../images/whh_exit.png");
    background-size: 100%;
    background-repeat: no-repeat;
}



#bottom_area {
    background: rgba(224, 242, 119, 1);
    border-radius: 13.5px;
}
#scrollable_msg {
    font-family: PTSansPro-Demi;
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 100px;
}
#msg_enter text {
    background: rgba(224, 242, 119, 1);
    color: rgba(50, 50, 50, 0.8);
}