#activity {
    background-image: url("../images/start.png");
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
}


#reg_box {
    padding: 20px 30px 30px 30px;
    background: rgba(119, 205, 242, 0.5);
    border-radius: 30px;
}


#logo_box {
    background: linear-gradient(134.14deg, rgba(119, 205, 242, 0.5) -33.38%, #C5E4FF 125.02%);
    box-shadow: -26px 26px 52px rgba(143, 163, 184, 0.2), 
    26px -26px 52px rgba(140, 158, 177, 0.2), 
    -26px -26px 52px rgba(179, 206, 219, 0.3), 
    26px 26px 65px rgba(138, 157, 177, 0.9), 
    inset 1px 1px 2px rgba(207, 239, 255, 0.3), 
    inset -1px -1px 2px rgba(169, 195, 221, 0.5);
    border-radius: 16px;
}
#logo {
    margin-top: -20px;
    background-image: url("../images/Chat_name.png");
    background-size: 100%;
    min-width: 190px;
    min-height: 80px;
}


#login {
    margin: 10px 20px -10px 20px;
    background: linear-gradient(135deg, rgba(113, 195, 230, 0.6) 0%, rgba(125, 215, 254, 0.5) 100%);
    border-radius: 16px;
    min-width: 240px;
    min-height: 35px;
    font-family: PTSansPro-Demi;
    font-size: 14px;
}
#password {
    margin: 0px 20px -10px 20px;
    background: linear-gradient(135deg, rgba(113, 195, 230, 0.6) 0%, rgba(125, 215, 254, 0.5) 100%);
    border-radius: 16px;
    min-width: 240px;
    min-height: 35px;
    font-family: PTSansPro-Demi;
    font-size: 14px;
}
#password_again {
    margin: 0px 20px -10px 20px;
    background: linear-gradient(135deg, rgba(113, 195, 230, 0.6) 0%, rgba(125, 215, 254, 0.5) 100%);
    border-radius: 16px;
    min-width: 240px;
    min-height: 35px;
    font-family: PTSansPro-Demi;
    font-size: 14px;
}


#register_button{
    margin: 30px 10px 0px 10px;
    background: rgba(52, 171, 207, 0.7);
    border-radius: 16px;
    min-width: 230px;
    min-height: 30px;
    color: rgba(50, 50, 50, 0.8);
    font-family: PTSansPro-Demi;
    font-size: 16px;
    letter-spacing: initial;
    opacity: 1;
}
/*#check_button {
    letter-spacing: 0.9px;
    color: rgba(50, 50, 50, 0.77);
    font-family: PTSansPro-Demi;
    font-size: 14px;
}
#privat_policy {
    letter-spacing: 0.9px;
    font-family: PTSansPro-Demi;
    font-size: 14px;
}*/
