#activity {
    background-image:url("../images/start.png");
    background-size: 115%;
}
#Chat_logo {
    margin-top: -20px;
    background-image:url("../images/Chat_name.png");
    background-size: 100%;
    min-width: 190px;
    min-height: 200px;
}
#login_box {
    padding: 20px 30px 30px 30px;
    background: rgba(119, 205, 242, 0.5);
    border-radius: 30px;
} 
#logo_box {
    margin: 10px 10px 20px 10px;
    background: linear-gradient(134.14deg, rgba(119, 205, 242, 0.2) -33.38%, #C5E4FF 125.02%);
    /*box-shadow: -26px 26px 52px rgba(169, 195, 221, 0.2), 
    26px -26px 52px rgba(169, 195, 221, 0.2), 
    -26px -26px 52px rgba(207, 239, 255, 0.3), 
    26px 26px 65px rgba(169, 195, 221, 0.9), 
    inset 1px 1px 2px rgba(207, 239, 255, 0.3), 
    inset -1px -1px 2px rgba(169, 195, 221, 0.5);*/
    border-radius: 16px;
}
#login {
    margin: 40px 20px 10px 20px;
    min-width: 240px;
    min-height: 35px;
    font-family: PTSansPro-Demi;
    background: linear-gradient(135deg, rgba(113, 195, 230, 0.3) 0%, rgba(125, 215, 254, 0.3) 100%);
    border-radius: 13px;
}
#Password {
    margin: 10px 20px 10px 20px;
    min-width: 240px;
    min-height: 35px;
    font-family: PTSansPro-Demi;
    background: linear-gradient(135deg, rgba(113, 195, 230, 0.3) 0%, rgba(125, 215, 254, 0.3) 100%);
    border-radius: 13px;
}
#enter_button {
    margin: 50px 10px 10px 10px;
    background: rgba(119, 205, 242, 0.9);
    border-radius: 13px;
    min-width: 230px;
    min-height: 30px;
    font-family: PTSansPro-Demi;
    font-size: 16px;
    letter-spacing: initial;
    color: #FBFDFF;
}
#registration_button {
    margin: 20px 10px 10px 10px;
    background: linear-gradient(135deg, rgba(113, 195, 230, 0.3) 0%, rgba(125, 215, 254, 0.3) 100%);
    border-radius: 13px;
    min-width: 230px;
    min-height: 30px;
    font-family: PTSansPro-Demi;
    font-size: 16px;
    letter-spacing: initial;
    color: black;

}