#line {background-color: #000;}
#enter_button {
    background: rgba(119, 205, 242, 0.9);
    border-radius: 16px;
    min-width: 225px;
    min-height: 34px;
    font-family: PTSansPro-Demi;
    font-size: 16px;
    letter-spacing: initial;
    color: #FBFDFF;
}
#activity {
    background: linear-gradient(to top left, aquamarine, Black);
}